@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: Yekan;
  font-display: swap;
  src: url("./Fonts/Yekan.ttf") format("truetype");
}
* {
  font-family: Yekan;
  box-sizing: border-box;
}
html, body {
  @apply overflow-x-hidden;
}